.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: space-between;
}
.profile {
  max-width: 150px;
}
.headerTexts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.headerText {
  margin: 0;
}
