.Component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 2.5rem;
}
.links {
  display: flex;
  flex-direction: row;
}
.intro {
  color: #4e4e4e;
  font-size: 1.3rem;
  margin-top: 50px;
}
.email {
  font-weight: 700;
}
