import React from "react"
import PostLayout from "../../PostLayout"
import Image from "../../Image"

// import images
{{#images}}
import {{& name}} from  "./images/{{& path}}"
{{/images}}

// create map from path to image
const images = {
{{#images}}
  "./images/{{& path}}": {{& name}},
{{/images}}
}

export default function () {
  {{#meta}}
  const title = "{{title}}"
  const date = "{{date}}"
  const lang = "{{lang}}"
  {{/meta}}

  return (
    <PostLayout title={title} lang={lang} date={date}>
      {{{html}}}
    </PostLayout>
  )
}
