.Footer {
  background-color: #20232a;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
}
.Footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Footer-col {
  display: flex;
  flex-direction: column;
}
.Footer-link {
  color: white;
  line-height: 2;
}
.Footer-link:hover {
  color: white;
}
