.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;
}
.link {
  font-weight: 500;
}
.description {
  color: var(--text-color-1);
}