.component {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 20px;
  margin-right: 20px;
}
.component h3 {
  margin-top: 0;
}
.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.header {
  font-size: 2.5rem;
}
.intro {
  color: #4e4e4e;
  font-size: 1.3rem;
}
.followMeLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.introBk {
  color: #4e4e4e;
  font-size: 1.3rem;
  margin-top: 50px;
}
